@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

/** @see http://demo.amitjakhu.com/dripicons */
@font-face {
  font-family: "Icons";
  src:url("dripicons.eot");
  src:url("dripicons.eot?#iefix") format("embedded-opentype"), url("dripicons.ttf") format("truetype"), url("dripicons.svg#dripicons") format("svg"), url("dripicons.woff") format("woff");
}


@font-face {
  font-family: 'Weathericons';
  src: url('weathericons.eot');
  src: url('weathericons.eot?#iefix') format('embedded-opentype'), url('weathericons.woff2') format('woff2'), url('weathericons.woff') format('woff'), url('weathericons.ttf') format('truetype'), url('weathericons.svg#weather_iconsregular') format('svg');
}
